DEBUG=true
CONSOLE_LOGGING=true
RUN_MIGRATIONS_FROM_BROWSER=false

APP_DOMAIN='http://ipaddress_or_hostname/custom-php-mvc-framework/'
VERSION=0.0.1
SITE_TITLE='MVC Framework'
MENU_BRAND='MVC Framework'

SERVER_TYPE=
DEFAULT_CONTROLLER=Home
DEFAULT_LAYOUT=default
ACCESS_RESTRICTED=Restricted

CURRENT_USER_SESSION_NAME=
REMEMBER_ME_COOKIE_NAME=
REMEMBER_ME_COOKIE_EXPIRY=2592000

MAX_FILE_UPLOAD_SIZE=41943040

DB_NAME=mvctutorial
DB_USER=
DB_PASSWORD=
DB_HOST='127.0.0.1'